@import "tailwindcss";

@font-face {
  font-family: "History of Wawa";
  src: url("./assets/fonts/HistoryOfWawa.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
.font-history-of-wawa {
  font-family: "History of Wawa", sans-serif;
}

button {
  font-family: "History of Wawa", sans-serif;
}
